@tailwind base;
@tailwind components;
@tailwind utilities;




@layer base {
    /* ===== Scrollbar CSS ===== */
    /* Firefox */
    body {
        scrollbar-width: auto;
        scrollbar-color: #fcfcfc #f1f2f4;
    }

    /* Chrome, Edge, and Safari */
    body::-webkit-scrollbar {
        width: 12px;
    }
/* 
    body::-webkit-scrollbar-track {
        background: #f1f2f4;
        background: linear-gradient(
                to bottom,
                rgb(247, 113, 24),
                rgb(220, 46, 46),
                rgb(238, 73, 238)
        );
    /* } */

    body::-webkit-scrollbar-thumb {
        background: transparent;
        box-shadow: 0 0 0 100000vh #f1f2f4ff;
        border-radius: 10px;
        border: 2px solid #f1f2f4;
    }

    .floating {
        animation-name: floating;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }

    @keyframes floating {
        0% {
            transform: translate(0, 0px);
        }
        50% {
            transform: translate(0, 8px);
        }
        100% {
            transform: translate(0, -0px);
        }
    }
    .floating-4 {
        animation-name: floating;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }

    @keyframes floating-4 {
        0% {
            transform: translate(0, 0px);
        }
        50% {
            transform: translate(0, 8px);
        }
        100% {
            transform: translate(0, -0px);
        }
    }
}
